<form  action="<%= url_for(:action=>"update", :controller=>"assets", :content_type=>"admin_policy_object")%>" method="post" accept-charset="utf-8">
  <fieldset>
	<legend/>
    <input type="hidden" name="content_type" value="admin_policy_object" />   
  </fieldset>
  <%= button_to 'Save License & Restrictions', {},{:id => "submitLicense"} %>
</form>
